<% @posts.order(created_at: :desc).each do |post| %>
  <div class="post-card">
    <%= link_to post do %>
      <div class="post-content">
        <h2 class="headline"><%= post.title %></h2>
        <span class="date">
          <%= post.created_at.strftime("%B %e, %Y") %>
        </span>
        <p class="snippet">
          <%= post.excerpt %>
        </p>
      </div>
    <% end %>
    <div class="actions">
      <% if current_user&.admin? %>
        <%= button_to "Edit", edit_post_path(post), method: :get, class: "primary" %>
        <%= button_to "Delete", post, method: :delete, class: "danger", data: { turbo_confirm: "Are you sure?" } %>
      <% end %>
    </div>
  </div>
  <hr>
<% end %>
