<% if current_user&.admin? %>
  <%= button_to "Edit", edit_post_path(@post), method: :get, class: "primary" %>
  <%= button_to "Delete", @post, method: :delete, class: "danger", data: { turbo_confirm: "Are you sure?" } %>
<% end %>
<h1>
  <%= @post.title %>
</h1>
<p class="date">
  <%= @post.created_at.strftime("%B %d, %Y") %>
</p>
<p>
  <%= markdown(@post.content) %>
</p>
